/*#grama_hd{
    left: 50px;
    top: 500px;
    position: absolute;
    width: 1800;
    height: 600;
    z-index: -1;
    border: 5px solid;
}*/
#pista{
    background-color: green;
    border: 5px solid;
    height: 610;
}

.corredor{
    max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
    position:absolute;
    display: table-row;
    z-index:+1;
}

#i3{
    transform: scaleX(-1);
}


#chegada{
    /*left: 1300; top: 300;*/
    max-width:200px;
    width: auto;
    height: 600;
    float:right;
    
}

#startReset{
    margin-top: 20px;
    display: flex;
}

.table{
    margin-top: 30px;
    margin-right: 600px;
    margin-left: 500px;
}


ol li{
    height: 120px;
    color: white;
    border: 1px solid;
}
