#grama_hd{
    left: 50px;
    top: 500px;
    position: absolute;
    width: 1800;
    height: 600;
    z-index: -1;
    border: 5px solid;
}


.corredor{
    max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
    position: absolute;
}

#i1{
    left: 30; top: 500;
   
}

#i2{
    left: 30; top: 630;
    
}

#i3{
    left: 30; top: 750;
    transform: scaleX(-1);
}


#i4{
    left: 30; top: 880;
}

#i5{
    left: 30; top: 1010;
}

#chegada{
    left: 1670; top: 495;
    max-width:300px;
    max-height:2000px;
    width: auto;
    height: 620;
    position: absolute;
    z-index: -1;    
}

